nav {
  background-color: #003876;
}
nav #logo-container {
  position: relative;
  display: block;
  background-color: #f8ab4b;
}
@media all and (min-width: 1024px) {
  nav #logo-container {
    background-color: transparent;
  }
}
nav #logo {
  width: 100%;
  height: auto;
}
@media all and (min-width: 400px) {
  nav #logo {
    width: auto;
    height: auto;
  }
}
nav #nav-container {
  background-color: #003876;
}
nav #hamburger-menu img {
  width: 40px;
  height: 40px;
  float: right;
  margin: 10px 15px 0 0;
}
nav ul {
  margin: 0;
  display: none;
}
nav li {
  display: inline-block;
}
nav li a {
  color: white;
  text-decoration: none;
  font-family: Opensans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}
nav:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 1024px) {
  nav #nav-container {
    width: 1024px;
    margin: 0 auto;
  }
  nav img {
    margin-right: 30px;
  }
  nav ul {
    display: block;
  }
  nav ul li {
    margin-right: 40px;
    line-height: 50px;
  }
  nav ul li a:hover {
    color: #d45f51;
    text-decoration: underline;
  }
  nav #hamburger-menu img {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  #desktop-container {
    width: 1024px;
    margin: 0 auto;
    background-color: #f4f2f1;
  }
}

body {
  background-color: #f4f2f1;
  margin: 0;
}
body h1 {
  background-color: #003876;
  font-family: Open Sans, sans-serif;
  color: #f4f2f1;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}
body h2 {
  font-family: Open Sans, sans-serif;
}
body p {
  font-size: 16px;
  font-family: raleway, sans-serif;
}
@media all and (min-width: 1024px) {
  body {
    background-color: #406A98;
  }
}

#banner {
  line-height: 0;
}
#banner img {
  width: 100%;
  height: auto;
}
#banner #alt-banner {
  display: none;
}
@media all and (min-width: 600px) {
  #banner #mobile-banner {
    display: none;
  }
  #banner #alt-banner {
    display: block;
  }
}

@media all and (min-width: 600px) {
  #layout-change #right {
    float: right;
    width: 50%;
  }
  #layout-change #left {
    float: left;
    width: 50%;
  }
}
#layout-change:after {
  content: '';
  display: block;
  clear: both;
}

#map-wrapper #map-container {
  height: 280px;
  width: 320px;
}
@media all and (min-width: 600px) {
  #map-wrapper #map-container {
    float: right;
  }
}

#timetable ul {
  margin: 0;
  padding: 0;
}
#timetable li {
  margin: 0;
  list-style: none;
  text-align: center;
  font-family: Open Sans, sans-serif;
  padding: 10px 0;
  font-size: 28px;
}
#timetable a {
  color: #f4f2f1;
  text-decoration: none;
}
#timetable a:hover {
  text-decoration: underline;
}
@media all and (min-width: 600px) {
  #timetable #timetable-color {
    background-color: #A80032;
  }
  #timetable #timetable {
    float: left;
  }
}

#line-1 {
  background-color: #ccc800;
}

#line-2 {
  background-color: #41b9d6;
}

#line-3 {
  background-color: #ec6915;
}

#line-4 {
  background-color: #00885f;
}

#line-5 {
  background-color: #fec000;
}

#delays {
  text-align: center;
}
#delays p {
  padding: 0px 20px 10px 20px;
}

#news .notice-container {
  padding: 10px;
}
#news .notice-container:after {
  content: '';
  display: block;
  clear: both;
}
#news .more-notice-container {
  display: none;
  padding: 10px;
}
#news .more-notice-container:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 600px) {
  #news .more-notice-container {
    display: block;
  }
}
#news .image-container img {
  width: 50%;
  height: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}
@media all and (min-width: 600px) {
  #news .image-container img {
    width: 184px;
    height: 110px;
  }
}
#news .notice-heading {
  width: 45%;
  margin: 0;
  float: right;
}
#news .notice-heading a {
  color: #d45f51;
  font-weight: bold;
}
#news .notice-heading a:hover {
  color: #003876;
}
@media all and (min-width: 600px) {
  #news .notice-heading {
    float: none;
    width: auto;
  }
}
#news .notice-content {
  display: none;
}
@media all and (min-width: 600px) {
  #news .notice-content {
    display: block;
    margin-left: 10px;
  }
}
#news .notice-content a {
  color: #f29e4e;
}
#news .notice-content a:hover {
  color: #003876;
}
#news:after {
  content: '';
  display: block;
  clear: both;
}
#news #more-news {
  background-color: #A80032;
}
#news #more-news a {
  color: #f29e4e;
  text-decoration: none;
}
#news #more-news a:hover {
  color: #003876;
  text-decoration: underline;
}
@media all and (min-width: 600px) {
  #news #more-news {
    display: none;
  }
}
@media all and (min-width: 600px) {
  #news #notice-left {
    float: left;
    width: 50%;
  }
}
@media all and (min-width: 600px) {
  #news #notice-right {
    float: right;
    width: 50%;
  }
}

footer {
  background-color: #003876;
  text-align: center;
  padding-bottom: 10px;
}
footer #footer-container {
  background-color: #003876;
}
footer h2 {
  padding: 10px 0 10px 0;
  color: #f4f2f1;
  margin: 0;
}
footer img {
  width: 64px;
  height: 64px;
}
footer a {
  color: #d45f51;
  font-family: raleway, sans-serif;
}
footer p {
  color: #d45f51;
  font-family: raleway, sans-serif;
}
footer ul {
  display: none;
}
@media all and (min-width: 600px) {
  footer #social {
    float: left;
    width: 50%;
  }
  footer #contact {
    float: right;
    width: 50%;
  }
  footer:after {
    content: '';
    display: block;
    clear: both;
  }
}
@media all and (min-width: 1024px) {
  footer #footer-container {
    width: 1024px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
