@import 'mixins';

$brandColor: #003876;

nav {
	background-color: $brandColor;

	#nav-container {
		background-color: $brandColor;
	}
	img {
		float: left;
	}

	#hamburger-menu img {
		width: 40px;
		height: 40px;
		float: right;
		margin: 10px 15px 0 0;
	}

	ul {
		margin: 0;
		display: none;
	}

	li {
		display: inline-block;
		a {
			color: white;
			text-decoration: none;
			font-family: Opensans, sans-serif;
			font-weight: bold;
			font-size: 20px;
			line-height: 50px;
		}
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	@include bp-desktop {

		#nav-container {
			width: 1024px;
			margin: 0 auto;
		}
		img {
			margin-right: 30px;
		}

		ul {
			display: block;

			li {
				margin-right: 40px;
				line-height: 70px;
				a:hover {
					color:  #d45f51;
					text-decoration: underline;
				}
			}

		}
		#hamburger-menu img {
			display: none;
		}
	}

}

#desktop-container {
	@include bp-desktop {
		width: 1024px;
		margin: 0 auto;
		background-color: #f4f2f1;
	}
}

body {
	background-color: #f4f2f1;
	margin: 0;

	h1 {
		background-color: $brandColor;
		font-family: Open Sans, sans-serif;
		color: #f4f2f1;
		text-align: center;
		padding: 5px 0;
		margin: 0;
	}

	h2 {
		font-family: Open Sans, sans-serif;
	}

	p {
		font-size: 16px;
		font-family: raleway, sans-serif;
	}
	@include bp-desktop {
		background-color: #406A98;
	}

}

#banner {
	line-height: 0;
	img {
		width: 100%;
		height: auto;
	}
}

// #ticket-position {
// 	@include bp-tablet {
// 		float: right;
// 	}
// }
#layout-change {

	@include bp-tablet {
		#right {
			float: right;
			width: 50%;
		}
		#left {
			float: left;
			width: 50%;
		}
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

#map-wrapper {

	#map-container {
		height: 280px;
		width: 320px;

		@include bp-tablet {
			float: right;
		}
	}
}

#timetable {

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0;
		list-style: none;
		text-align: center;
		font-family: Open Sans, sans-serif;
		padding: 10px 0;
		font-size: 28px;
	}

	a {
		color: #f4f2f1;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
	
	@include bp-tablet {
		#timetable-color {
			background-color: #A80032;
		}
		#timetable {
			float: left;
		}
	}
}

#line-1 {
	background-color: #ccc800;
}

#line-2 {
	background-color: #41b9d6;
}

#line-3 {
	background-color: #ec6915;
}

#line-4 {
	background-color: #00885f;
}

#line-5 {
	background-color: #fec000;	
}

#delays {
	text-align: center;
	
	p {
		padding: 0px 20px 10px 20px;
	}

}

#news {

	.notice-container {
		padding: 10px;

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	.more-notice-container {
		display: none;
		padding: 10px;

		&:after {
			content: '';
			display: block;
			clear: both;
		}
		@include bp-tablet {
			display: block;
		}
	}

	.image-container img {
		width: 50%;
		height: auto;
		margin-right: 5px;
		margin-bottom: 5px;
		float: left;

		@include bp-tablet {
			width: 184px;
			height: 110px;
		}
	}

	.notice-heading {
		width: 45%;
		margin: 0;
		float: right;
		a {
			color: #d45f51;
			font-weight: bold;
		}

		a:hover {
			color: #003876;
		}
		@include bp-tablet {
			float: none;
			width: auto;
		}

	}
	
	.notice-content {
		display: none;
		
		@include bp-tablet {
			display: block;
			margin-left: 10px;
		}
		a {
			color: #f29e4e;
		}
		a:hover {
			color: #003876;
		}
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}
	#more-news {
		background-color: #A80032;
		a {
			color: #f29e4e;
			text-decoration: none;
		}
		a:hover {
			color: #003876;
			text-decoration: underline;
		}
		@include bp-tablet {
			display: none;
		}
	}
}

footer {
	background-color: $brandColor;
	text-align: center;
	padding-bottom: 10px;

	h2 {
		padding: 10px 0 10px 0;
		color: #f4f2f1;
		margin: 0;
	}

	img {
		width: 64px;
		height: 64px;
	}

	a {
		color: #d45f51;
		font-family: raleway, sans-serif;

	}

	ul {
		display: none;
	}
}